@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*------------------------------------- Fonts */

body, .raleway {
    font-family: "Raleway", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

/*------------------------------------- Colors (copied as css from adobe color picker library) */

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #989359; }
.My-Color-Theme-2-hex { color: #ECEAD2; }
.My-Color-Theme-3-hex { color: #E8E089; }
.My-Color-Theme-4-hex { color: #69685D; }
.My-Color-Theme-5-hex { color: #B5AF6B; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(152, 147, 89, 1); }
.My-Color-Theme-2-rgba { color: rgba(236, 234, 210, 1); }
.My-Color-Theme-3-rgba { color: rgba(232, 224, 137, 1); }
.My-Color-Theme-4-rgba { color: rgba(105, 104, 93, 1); }
.My-Color-Theme-5-rgba { color: rgba(181, 175, 107, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(55, 26, 47, 1); }
.My-Color-Theme-2-hsla { color: hsla(55, 40, 87, 1); }
.My-Color-Theme-3-hsla { color: hsla(54, 67, 72, 1); }
.My-Color-Theme-4-hsla { color: hsla(55, 6, 38, 1); }
.My-Color-Theme-5-hsla { color: hsla(55, 33, 56, 1); }

/*------------------------------------- Navbar */

.navbar {
    background-color: white;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    width: 125px;
    margin-bottom: 5px;
}

.navbar .navbar-toggler {
    border-color: #989359;
}

.navbar-nav {
    font-weight: bold;
}

.navbar-text {
    margin-bottom: 0;
}

.navbar-light .navbar-text {
    font-weight: 200;
    color: #989359;
}

.dropdown-toggle::after {
    color: #706a23;
}

.dropdown-menu {
    border: 1px solid #706a23;
}

/*--------------------------------Main */

.main-container {
    height: 100vh;
    background: url(../images/jar.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.main-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 5px;
}

.jumbotron .sub-header {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin: 25px 0;
    color: white;
}

.main-paragraph {
    padding: 0 50px;
    font-family: "Roboto", sans-serif;
    color: white;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: white;
}

/*--------------------------------Footer */

footer {
    background-color: #69685D;
    margin: 0;
    padding: 0;
    min-height: 50px;
}

footer p {
    margin: 10px;
    padding-top: 6px;
    color: white;
}

.list-inline {
    margin: 0;
}

.social-media {
    padding-top: 10px;
}

.social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background-color: #989359;
}

/*------------------------------------- Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--gold {
    color: white;
    background-color: #989359;
    border-color: #989359;
}

.btn--gold:hover,
.btn--gold:active,
.btn--gold:focus,
.btn--gold:active:focus {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    background-color: #706a23;
    border-color: #706a23;
    color: white;
}

/*-------------------------------------Dropdown button */

.dropdown .dropbtn {
    font-family: "Raleway", sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafafa;
    min-width: 160px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.5);
    z-index: 1;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.dropdown-content a {
    font-weight: bold;
    float: none;
    color: black;
    padding: 10px 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #B5AF6B;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*-------------------------------------Media queries */

@media only screen and (max-width : 640px) {
    .dropdown-content {
        position: relative;
    }
}