@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*------------------------------------- Colors (copied as css from adobe color picker library) */

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #989359; }
.My-Color-Theme-2-hex { color: #ECEAD2; }
.My-Color-Theme-3-hex { color: #E8E089; }
.My-Color-Theme-4-hex { color: #69685D; }
.My-Color-Theme-5-hex { color: #B5AF6B; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(152, 147, 89, 1); }
.My-Color-Theme-2-rgba { color: rgba(236, 234, 210, 1); }
.My-Color-Theme-3-rgba { color: rgba(232, 224, 137, 1); }
.My-Color-Theme-4-rgba { color: rgba(105, 104, 93, 1); }
.My-Color-Theme-5-rgba { color: rgba(181, 175, 107, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(55, 26, 47, 1); }
.My-Color-Theme-2-hsla { color: hsla(55, 40, 87, 1); }
.My-Color-Theme-3-hsla { color: hsla(54, 67, 72, 1); }
.My-Color-Theme-4-hsla { color: hsla(55, 6, 38, 1); }
.My-Color-Theme-5-hsla { color: hsla(55, 33, 56, 1); }

/*------------------------------------- Misc. */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
}

.shadow {
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.5);
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.media p {
  text-align: left;
}


/*------------------------------------- Containers */

.container-wrapper--grey {
    background-color: #474646;
    color: #fafafa;
    padding-top: 60px;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*------------------------------------- Dividers */

.block-divider {
    width: 150px;
    height: 3px;
    border: 0;
    background-color: #ECEAD2;
}

.block-divider--small {
    width: 35px;
}

/*------------------------------------- Navbar */

.navbar {
    height: 60px;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: white;
}

.navbar-brand {
    width: 125px;
    margin-bottom: 5px;
    padding: 0;
}

.navbar .navbar-toggler {
    border-color: #989359;
}

.navbar-nav {
    width: 100%;
    font-weight: bold;
}

.nav-signup {
    box-sizing: none;
    display: inline-block;
}

.navbar-text {
    margin-bottom: 0;
}

.navbar-light .navbar-text {
    font-weight: 200;
    color: #989359;
}

.dropdown-toggle::after {
    color: #706a23;
}

.dropdown-menu {
    border: 1px solid #706a23;
}

/*--------------------------------Main */

.main-container {
    height: 100%;
    width: 100%;
    float: left;
    margin-top: 60px;
    position: relative;
    background: url(../images/jar.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.jumbotron {
    background-color: transparent;
    animation: fadein1 2s;
    -webkit-animation: fadein1 2s;
    -moz-animation: fadein1 2s;
    -ms-animation: fadein1 2s;
    -o-animation: fadein1 2s;
}

.jumbotron-header {
    text-transform: uppercase;
    color: #ECEAD2;
    font-size: 80px;
    letter-spacing: 10px;
    opacity: 0.8;
    margin: 0;
}


.jumbotron .sub-header,
.sub-header {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin: 25px 0;
    color: white;
}

.main-paragraph {
    padding: 0 50px;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 20px;
    font-size: 0.875em;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: white;
}

/*--------------------------------Philosophy */

.philosophy-section {
    text-align: center;
    margin-bottom: 40px;
}

.philosophy-container {
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    position: relative;
    background-color: #474646;
    display: inline-block;

}

.section-header {
    letter-spacing: 5px;
    text-align: center;
}

.meditation-container {
    margin: 10px 0 0 40px;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.meditation-circle {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ECEAD2;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 100%;
}

.meditation-circle-outer {
    width: 350px;
    height: 350px;
    padding: 22.5px;
    border-style: solid;
    border-color: #ECEAD2;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 100%;
}

.meditation {
    position: relative;
    object-fit: cover;
    border: 3px solid #ECEAD2; 
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.philosophy-text {
    width: 100%;
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    margin: 20px 40px 0 0;
    padding: 10px 0 40px 0;
    margin-bottom: 20px;
    font-size: 0.875em;
}

.philosophy-text strong {
    text-transform: uppercase;
    color: #E8E089;
    letter-spacing: 2px;
}

.read-more {
    margin-bottom: 15px;
}

/*--------------------------------Bodycentric health */

.bodycentric-health {
    width:1000px;
    margin:0 auto;
    height:100%;
    position: relative;
}

.health-section i {
    font-size: 32px
}

/*--------------------------------Contact */

.get-in-touch h1 {
    font-size: 32px;
}

.form-control {
    background-color: #fafafa;
}

/*--------------------------------Footer */

footer {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    height: 50px;
}

footer p {
    margin-top: 10px;
    color: black;
}

.back-to-top {
    color: #7e7e7e;
    font-weight: bold;
    margin-bottom: -1px;
}

.back-to-top:hover {
    color: #4c4c4c;
    text-decoration: none;
}

.list-inline {
    margin: 0;
}

.social-media {
    padding-top: 10px;
}

.social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background-color: #989359;
}

/*------------------------------------- Modal */

.modal-footer {
    display: block;
}

/*------------------------------------- Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--gold {
    color: white;
    background-color: #989359;
    border-color: #989359;
}

.btn--gold:hover,
.btn--gold:active,
.btn--gold:focus,
.btn--gold:active:focus {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    background-color: #706a23;
    border-color: #706a23;
    color: white;
}

/*-------------------------------------Dropdown button */

.dropdown .dropbtn {
    font-family: "Raleway", sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafafa;
    min-width: 160px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.5);
    z-index: 1;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.dropdown-content a {
    font-weight: bold;
    float: none;
    color: black;
    padding: 10px 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #B5AF6B;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*-------------------------------------Media queries */

@media screen and (max-width: 576px) {
    [class*="col-"] {
        width: 100%;
    }

    

}

@media screen and (max-width: 768px) {
    .philosophy-content {
        display: block;
    }
}

@media screen and (max-width: 992px) { 
    
}

@media screen and (max-width: 1040px) { 
    .nav-signup {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    
} 

/*-------------------------------------Animations */

@keyframes fadein1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}